src/main/mule/commonFlows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="bac2a1f9-a8ad-482c-8904-2ca1cd4b8ad6" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="harrypotter@113" database="bank" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="c3c0e742-08fb-4c78-9adf-7c9fe0113d4c" >
		<file:connection workingDir="C:\Users\17165\Documents\atm-transaction-Achyuth" />
	</file:config>
	<flow name="gbit-atm-transaction-Achyuth-isAccountExists" doc:id="5b3d3fbf-8043-4ba2-9f15-0d072888380b" >
		<logger level="INFO" doc:name="Logger" doc:id="c0c523e0-928b-496c-9969-a0ed5f7a8042" message="Checking Account Exists or Not"/>
		<db:select doc:name="Select" doc:id="22f3f4de-6f56-45b4-b7c0-e6c9e4a31620" config-ref="Database_Config" target="isAccountCreated">
			<db:sql ><![CDATA[SELECT COUNT(*) AS accountExists 
FROM bank.Bank_Transactions 
WHERE custAccNum = :custAccNum and bankName = :bankName;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	custAccNum: vars.initialPayload.custAccNum,
	bankName: vars.initialPayload.bankName
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="5e560905-aac7-452d-8634-2ae71fcf390b" message='#["account status :" ++ vars.isAccountCreated.accountExists[0]]'/>
		<set-payload value="#[vars.isAccountCreated.accountExists[0] default '0']" doc:name="Set Payload" doc:id="bce1266a-6cd7-467f-a3ef-03e123d6a32c" />
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-isAccountActive" doc:id="a663892d-890d-4684-97ef-497fcd22d3a1" >
		<logger level="INFO" doc:name="Logger" doc:id="9292343c-3edb-45a0-a2d7-234e0192784d" message="Checking Account is Active or not"/>
		<db:select doc:name="Select" doc:id="ad6c994a-d6c3-49e5-ab7c-8d7b69088d36" target="isAccountActive" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT accountStatus
FROM bank.Bank_Transactions
WHERE custAccNum = :custAccNum and bankName = :bankName;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	custAccNum: vars.initialPayload.custAccNum,
	bankName: vars.initialPayload.bankName
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="76cbc743-4dd4-4229-adf5-6231ff1eb38a" message='#["account active status :" ++ vars.isAccountActive.accountStatus[0]]'/>
		<set-payload value="#[vars.isAccountActive[0].accountStatus default 'Inactive']" doc:name="Set Payload" doc:id="ad552fb4-022d-45c2-a352-ef0250bb25e4" />
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-isAccountPinValid" doc:id="c3b19be0-3f6a-433d-8626-863eed4e8710" >
		<logger level="INFO" doc:name="Logger" doc:id="e47141c2-0fec-4ca7-b1e5-b3ab48ee0ac0" message="checking Account pin is valid or not"/>
		<db:select doc:name="Select" doc:id="cbe1af59-e002-42cf-9e61-ad48d6a53a7e" config-ref="Database_Config" target="isPinValid">
			<db:sql ><![CDATA[SELECT COUNT(*) AS pinValid 
FROM bank.Bank_Transactions 
WHERE custAccNum = :custAccNum and bankName = :bankName and atmPin = :atmPin;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	custAccNum: vars.initialPayload.custAccNum,
	bankName: vars.initialPayload.bankName,
	atmPin: vars.initialPayload.atmPin
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="155f6c9a-ae24-4c2f-b099-ecec49f918d7" message='#["account pin valid or not :" ++ vars.isPinValid[0].pinValid]'/>
		<set-payload value="#[vars.isPinValid[0].pinValid default 0]" doc:name="Set Payload" doc:id="d5fb52b0-e087-4fdf-9346-b32dcb42b84a" />
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-getAccountDetails" doc:id="fc0d7b63-c7c8-43c8-9e7c-23135093c94d" >
		<logger level="INFO" doc:name="Logger" doc:id="02671e40-4897-4ec4-8bf5-3a71cd14f58e" message="Getting Account Full Details"/>
		<db:select doc:name="Select" doc:id="d3dc64c2-3581-43f2-9058-8c7ec76338e2" target="actualDetails" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * 
FROM bank.Bank_Transactions 
WHERE custAccNum = :custAccNum and bankName = :bankName;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	custAccNum: vars.initialPayload.custAccNum,
	bankName: vars.initialPayload.bankName
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="bc3f6a56-fb23-44ac-8cba-4a851213b798" message="#[vars.actualDetails]"/>
		<ee:transform doc:name="Transform Message" doc:id="7589029c-8175-4f20-895c-4ec63defde4f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  atmPin: vars.actualDetails[0].atmPin,
  custAccNum: vars.actualDetails[0].custAccNum,
  totalBalance: vars.actualDetails[0].totalBalance,
  mailId: vars.actualDetails[0].mailId,
  accountStatus: vars.actualDetails[0].accountStatus,
  wrongPin: vars.actualDetails[0].wrongPin,
  transactionTimeStamp: vars.actualDetails[0].transactionTimeStamp
}

]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-insertNewAccountRecord" doc:id="64989ee2-9256-484f-82b0-65c228974cea" >
		<db:insert doc:name="Insert" doc:id="ae20258d-542d-4cfe-a7c7-fce3d3153425" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO bank.Bank_Transactions
  (custName, custAccNum, atmPin, bankName, accountType, ifscCode, branchName, totalBalance, transactionTimeStamp, accountStatus, wrongPin, mailId, phoneNumber)
VALUES
  (:custName, :custAccNum, :atmPin, :bankName, :accountType, :ifscCode, :branchName, :totalBalance, :transactionTimeStamp, :accountStatus, :wrongPin, :mailId, :phoneNumber);
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	custName: vars.initialPayload.custName,
	custAccNum: vars.initialPayload.custAccNum,
	atmPin: vars.initialPayload.atmPin,
	bankName: vars.initialPayload.bankName,
	accountType: vars.initialPayload.accountType,
	ifscCode: vars.initialPayload.ifscCode,
	branchName: vars.initialPayload.branchName,
	totalBalance: vars.initialPayload.totalBalance,
	transactionTimeStamp: vars.initialPayload.transactionTimeStamp,
	accountStatus: vars.initialPayload.accountStatus,
	wrongPin: vars.initialPayload.wrongPin,
	mailId: vars.initialPayload.mailId,
	phoneNumber: vars.initialPayload.phoneNumber
}]]]></db:input-parameters>
		</db:insert>
		<flow-ref doc:name="file writing" doc:id="867c2a91-89b2-4fb7-be50-5a85c645efc0" name="gbit-atm-transaction-Achyuth-createAccountJsonFile" target="fileRead"/>
		<logger level="INFO" doc:name="Logger" doc:id="89f10c9b-00c4-484b-b163-47f86c59cfb0" message="Successfully created an account"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4a1cd694-6603-4324-b9be-370234762d69" >
				<set-payload value='#[%dw 2.0 &#10;output application/json &#10;--- &#10;{"status": "Unable insert record in database"}]' doc:name="Set Payload for DB issues" doc:id="0867d08a-029c-4c1a-92ac-5ba367c2e4bb" />
				<set-variable value="400" doc:name="Set Variable" doc:id="09634393-a705-454d-8809-516aa78845ed" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-updateWrongPinCount" doc:id="c72dc824-c097-4b28-897b-29f9a6d51cdd" >
		<logger level="INFO" doc:name="Logger" doc:id="0a6f5289-831a-46b7-8de4-56d6dbfd0bea" message="Updating Wrong Pin Count"/>
		<db:update doc:name="Update" doc:id="16ae2a5a-a4a0-4fdf-ab96-90925896d29c" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE bank.Bank_Transactions 
SET wrongPin = :wrongPin 
WHERE custAccNum = :custAccNum and bankName = :bankName;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	custAccNum: vars.initialPayload.custAccNum,
	bankName: vars.initialPayload.bankName,
	wrongPin: vars.actualDetails.wrongPin as Number + 1
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="3636c04f-bcde-42f2-b624-1c98b9cdcdc0" message="wrongPin count is updated"/>
		<choice doc:name="Choice" doc:id="8c81244c-144d-47c3-8740-9a4e5a6c0a5f" >
			<when expression="#[vars.actualDetails.wrongPin == 3]">
				<db:update doc:name="Blocking the account" doc:id="94fbba33-e43e-45de-86e4-c1d79e5f420b" config-ref="Database_Config">
					<db:sql ><![CDATA[UPDATE bank.Bank_Transactions 
SET accountStatus = 'Inactive' 
WHERE custAccNum = :custAccNum and bankName = :bankName;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	custAccNum: vars.initialPayload.custAccNum,
	bankName: vars.initialPayload.bankName
}]]]></db:input-parameters>
				</db:update>
				<flow-ref doc:name="Flow Reference" doc:id="03a4e235-48fb-46f2-af2b-1a038f18d93b" name="gbit-atm-transaction-Achyuth-raiseAccountBlockError"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference" doc:id="a9bdd7c5-7f64-43cc-856d-14ccb143b618" name="gbit-atm-transaction-Achyuth-raiseAtmPinError"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-updateAccountBalance" doc:id="2c2bbfe8-e87b-481f-a714-dd2c31fa8559" >
		<logger level="INFO" doc:name="Logger" doc:id="6e613a4c-912d-4f71-8c7d-26045d329a18" message="Checking amountToBeWithdrawn is higher than balance"/>
		<choice doc:name="Choice" doc:id="3bf6e5c6-4f8c-49ee-b319-fe85459cbdbb" >
			<when expression="#[(vars.initialPayload.withdrawnAmount as Number &lt;= vars.actualDetails.totalBalance)]">
				<logger level="INFO" doc:name="Logger" doc:id="bd71e4e1-786a-4afe-92d0-9282e6fb9700" message="amountToBeWithdrawn isn't higher than balance. Commiting the transaction."/>
				<db:update doc:name="Update" doc:id="81da0f64-d02d-45d8-b7ed-c4a52ed90e77" config-ref="Database_Config">
					<db:sql ><![CDATA[UPDATE bank.Bank_Transactions 
SET totalBalance = :totalBalance, transactionTimeStamp = :current_time 
WHERE custAccNum = :custAccNum and bankName = :bankName;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	custAccNum: vars.initialPayload.custAccNum,
	bankName: vars.initialPayload.bankName,
	atmPin: vars.initialPayload.atmPin,
	current_time: now(),
	totalBalance: (vars.actualDetails.totalBalance - vars.initialPayload.withdrawnAmount) 
}]]]></db:input-parameters>
				</db:update>
				<logger level="INFO" doc:name="Logger" doc:id="b10dc2c9-447f-4f3b-b5c7-454f497d8002" message='#["Successfully committed a transaction. Amount " ++ (vars.initialPayload.withdrawnAmount default 0) ++ " is debited. Your total balance is " ++ (vars.actualDetails.totalBalance - vars.initialPayload.withdrawnAmount)]'/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="e16ff51f-95bc-4e7c-b2b9-6b41652e82e4" message="amountToBeWithdrawn is higher than balance. Raising Insufficient funds error"/>
				<flow-ref doc:name="Flow Reference" doc:id="e8ff5af1-7232-4a59-81e7-91ee5e47c02e" name="gbit-atm-transaction-Achyuth-raiseAccountInsufficientFundsError"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-raiseAtmPinError" doc:id="63b1d43f-de16-45a1-8d93-93a8dfaeff22" >
		<logger level="INFO" doc:name="Logger" doc:id="b5147b1c-5ef9-4b31-8e94-93ce00dc75be" />
		<set-payload value='#[%dw 2.0 &#10;output application/json &#10;--- &#10;{&#10;	"status": "Login attempt failed. Attempts left: " ++ (3 - vars.actualDetails.wrongPin )&#10;}]' doc:name="Set Payload" doc:id="373c6257-5ad4-41b5-aafd-15f76e0a6ad9" />
		<raise-error doc:name="Raise error" doc:id="73615275-8e12-4b87-baf6-11177111452c" type="ACCOUNT:PININVALID"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0da20881-3dd3-4501-93b3-765a6d5618cc" type="ACCOUNT:PININVALID">
				<set-variable value="400" doc:name="Set Variable" doc:id="57bc50b6-bbf4-4246-b2a1-cfbdcec78af2" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-raiseAccountInsufficientFundsError" doc:id="d36bc057-ab5e-4d36-bf15-3beba7c45ca8" >
		<logger level="INFO" doc:name="Logger" doc:id="375bfc70-00fc-4bd6-8632-b5a8bd953caf" />
		<set-payload value='#[%dw 2.0 &#10;output application/json &#10;--- &#10;{&#10;	"status": "“Insufficient Funds"&#10;}]' doc:name="Set Payload" doc:id="e98e64e4-e894-46ce-a7c4-20b31f4c052f" />
		<raise-error doc:name="Raise error" doc:id="d3ebf3de-e0d9-4521-8982-30b900151a90" type="ACCOUNT:INSUFFICIENTFUNDS"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2dc9cdbe-6282-4c1a-8062-338df1b6e9b1" type="ACCOUNT:INSUFFICIENTFUNDS">
				<set-variable value="400" doc:name="Set Variable" doc:id="4817e0ae-8556-41a0-9b4a-5aa67a3bcb28" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-raiseAccountBlockError" doc:id="815715da-e047-4334-a314-e9a519b13d94" >
		<logger level="INFO" doc:name="Logger" doc:id="4d930031-ad71-478a-b61d-1586c16305b2" />
		<set-payload value='#[%dw 2.0 &#10;output application/json &#10;--- &#10;{&#10;	"status": "Maximum login attempts reached. You account " ++ (vars.actualDetails.custAccNum default "None") ++ " is temporarily blocked. Please visit nearest branch."	&#10;}]' doc:name="Set Payload" doc:id="34040350-0aaf-41b6-854b-9909c258411c" />
		<raise-error doc:name="Raise error" doc:id="0054049e-43ad-4ee2-b57b-393e9196c784" type="ACCOUNT:BLOCKING"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f8d231e7-79a5-417f-a5e8-17b0eabdc016" type="ACCOUNT:BLOCKING">
				<set-variable value="400" doc:name="Set Variable" doc:id="09f8b931-42eb-423c-833e-ad8c324f6205" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-raiseAccountExistsError" doc:id="7bc7904c-b94a-4823-b2ea-038600492465" >
		<logger level="INFO" doc:name="Logger" doc:id="3ac9351f-70a8-41ce-9014-92e4fa38ff0a" message="Account already exist"/>
		<set-payload doc:name="Set Payload" doc:id="3cf31ca2-98db-4eba-8e2f-69b4c645a221" value='#[%dw 2.0 &#10;output application/json &#10;--- &#10;{"status": "Account " ++ (vars.initialPayload.custAccNum default "NONE") ++ " already exists"}]'/>
		<raise-error doc:name="Raise error" doc:id="f56da9e6-a18d-4e2d-be66-97c62c8a0f91" type="ACCOUNT:ALREADYEXISTS" description="Account Already Exists"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="576c351b-7c6f-46e0-bb9c-b75022c444d1" type="ANY">
				<set-variable value="400" doc:name="Set Variable" doc:id="e1ffd80f-0566-4d1a-9116-f9dd73928aaf" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-raiseAccountNotExistsError" doc:id="e2deb85f-5241-450c-970b-cc76a0cc1550" >
		<logger level="INFO" doc:name="Logger" doc:id="7833b768-ca87-4e2c-8e0e-bd50c0ac7370" message="Account not exist. Please enter valid details"/>
		<set-payload value="#[%dw 2.0 &#10;output application/json &#10;--- &#10;{&quot;status&quot;: &quot;Account &quot; ++ (vars.initialPayload.custAccNum default &quot;NONE&quot;) ++ &quot; doesn't exists. Please enter a valid details.&quot;}]" doc:name="Set Payload" doc:id="85a73f88-eddc-4d6d-8283-606e8c9b9146" />
		<raise-error doc:name="Raise error" doc:id="19658618-ee92-4159-9b07-7f565c625c34" type="ACCOUNT:NOTEXISTS" description="Account Not Exists. Please enter valid details"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2949f018-72b3-43e5-9a51-537163713ff9" type="ACCOUNT:ALREADYEXISTS">
				<set-variable value="400" doc:name="Set Variable" doc:id="28ed643e-88c1-43bf-a35f-05ae005829e1" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-raiseAccountInactiveError" doc:id="d00c1349-a162-4f6e-8027-f2e8c2fa1c91" >
		<logger level="INFO" doc:name="Logger" doc:id="220a50ce-30ed-4016-a1c5-e722655997dd" message="Account is not active"/>
		<set-payload value='#[%dw 2.0 &#10;output application/json &#10;--- &#10;{"status": "Account " ++ (vars.initialPayload.custAccNum default "NONE") ++ " is blocked. Please visit nearest branch"}]' doc:name="Set Payload" doc:id="872097fc-89a6-4324-878b-e84f2b113266" />
		<raise-error doc:name="Raise error" doc:id="6593ee7e-2687-4662-99b1-3958487ec95d" type="ACCOUNT:INACTIVE"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f204d03c-da79-4558-9776-9c0c0cc89a03" type="ACCOUNT:INACTIVE">
				<set-variable value="400" doc:name="Set Variable" doc:id="811d1331-117a-4ccb-99c4-0204742ad8a7" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="gbit-atm-transaction-Achyuth-createAccountJsonFile" doc:id="efc36835-65a3-4fc5-87f5-265c05e7abc5" >
		<set-variable value='#[vars.initialPayload.custAccNum ++ "_" ++ vars.initialPayload.custName ++ ".json"]' doc:name="Set Variable" doc:id="bb871542-6982-4505-87ab-3769401f71b2" variableName="filePath"/>
		<file:write doc:name="Write" doc:id="ca724009-8e91-4537-af40-0ee2f6e8540e" config-ref="File_Config" path="#[vars.filePath]">
			<file:content ><![CDATA[#[vars.initialPayload]]]></file:content>
		</file:write>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="9dcf25cf-23aa-4cbc-becc-d72d5a5bd0f3" />
	</flow>
</mule>
