src/main/mule/gbit-atm-transaction-Achyuth.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="gbit-atm-transaction-Achyuth-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="gbit-atm-transaction-Achyuth-config" api="gbit-atm-transaction-Achyuth.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/withdraw" action="post" content-type="application/json" flow-ref="post:\withdraw:application\json:gbit-atm-transaction-Achyuth-config" />
			<apikit:flow-mapping resource="/unblock" action="put" content-type="application/json" flow-ref="put:\unblock:application\json:gbit-atm-transaction-Achyuth-config" />
			<apikit:flow-mapping resource="/createAccount" action="post" content-type="application/json" flow-ref="post:\createAccount:application\json:gbit-atm-transaction-Achyuth-config" />
			<apikit:flow-mapping resource="/checkBalance" action="post" content-type="application/json" flow-ref="post:\checkBalance:application\json:gbit-atm-transaction-Achyuth-config" />
		</apikit:flow-mappings>
	</apikit:config>
    <flow name="gbit-atm-transaction-Achyuth-main">
        <http:listener config-ref="gbit-atm-transaction-Achyuth-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="gbit-atm-transaction-Achyuth-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="gbit-atm-transaction-Achyuth-console">
        <http:listener config-ref="gbit-atm-transaction-Achyuth-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="gbit-atm-transaction-Achyuth-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\unblock:application\json:gbit-atm-transaction-Achyuth-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Account <ACCOUNT> is unblocked"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\checkBalance:application\json:gbit-atm-transaction-Achyuth-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Your total balance is <ACCOUNT> as of 20-May-2020 is <BALANCE>"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\createAccount:application\json:gbit-atm-transaction-Achyuth-config">
        <set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	custName: attributes.queryParams.customerName default &quot;&quot;,&#10;	custAccNum: payload.accountNum default &quot;&quot;,&#10;	atmPin: payload.atmPin default &quot;&quot;,&#10;	bankName: attributes.queryParams.bank default &quot;&quot;,&#10;	accountType: attributes.queryParams.&quot;type&quot; default &quot;&quot;,&#10;	ifscCode: payload.ifscCode default &quot;&quot;,&#10;	branchName: attributes.queryParams.branchName default &quot;&quot;,&#10;	totalBalance: payload.depositAmount default &quot;0.00&quot;,&#10;	transactionTimeStamp: now() default &quot;&quot;,&#10;	accountStatus: 'Active' default &quot;&quot;,&#10;	wrongPin: 0 default -1,&#10;	mailId: payload.mailId default &quot;&quot;,&#10;	phoneNumber: payload.contact default &quot;&quot;&#10;}]" doc:name="Copy Payload" doc:id="bdbe4c5b-e701-474a-84c2-839e0111c89a" variableName="initalPayload"/>
		<ee:transform doc:name="Transform Message" doc:id="6a4d3257-62a1-41f5-a277-04623962a160" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="initialPayload" ><![CDATA[%dw 2.0
output application/json
---
vars.initalPayload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="48a27a04-f6a3-4ed2-b0ff-437207244228" name="gbit-atm-transaction-Achyuth-checkAccountExists" target="accountExists"/>
		<choice doc:name="Choice" doc:id="8dd4d786-552f-48d6-9b81-7154b2675017" >
			<when expression="#[vars.accountExists == 0]">
				<logger level="INFO" doc:name="Logger" doc:id="f4e215a0-2e26-471f-a58e-6c32b0860bcf" message="#[vars.initalPayload]"/>
				<flow-ref doc:name="Flow Reference" doc:id="3a45017f-67f3-4a52-a5af-7af2f0d9ba29" name="gbit-atm-transaction-Achyuth-insertNewAccountRecord"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Raise Account Already Exists Error" doc:id="c099d3a9-618a-4f3d-b68f-686466c4a43d" name="gbit-atm-transaction-Achyuth-raiseAccountExists"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Account Created Successfully with Account Number " ++ vars.initalPayload.custAccNum 
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ed6173b2-79d9-4b58-a1ce-0bc8fb73c55f" type="ACCOUNT:ALREADYEXISTS">
				<set-variable value="400" doc:name="Set Variable" doc:id="914aae58-cf97-4234-92c1-147e7eff2197" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\withdraw:application\json:gbit-atm-transaction-Achyuth-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Amount <AMOUNT> is debited. Your total balance is <BALANCE>"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
